<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'snippets/link.html' %}
</head>
<body>
    <div class="border-bottom p-2">
        <img  src="{% static 'img/logo.svg' %}" width="5%">
        <div>
            {{ name }}
        </div>
    </div>
    <div class="p-2 border w-25 mx-auto my-2 rounded shadow-sm">
        <div class="form-inner">
            <form action="CT_signup/" method="post" class="login">
                {% csrf_token %}
                
                <div class="form-outline mb-2">
                    <label class="form-label">email</label>
                    <input name="email" class="form-control" required>
                </div>
                <div class="form-outline mb-2">
                    <label class="form-label">mat khau</label>
                    <input name="pass" class="form-control" required>
                </div>
                <div class="form-outline mb-2">
                    <label class="form-label">nhập lại mật khẩu</label>
                    <input name="retype_pass" class="form-control" required>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary btn-block mb-4" value="đăng kí"></input>
                </div>
            </form>
        </div>
    </div>
    {% include 'snippets/footer.html' %}
    <script>
        const pass = document.getElementsByName('pass')[0]
        const retype_pass = document.getElementsByName('retype_pass')[0]
        retype_pass.addEventListener('blur', function(){
            if(pass.value !== retype_pass.value){
                pass.style.cssText = "border: 1px solid red;"
                retype_pass.style.cssText = "border: 1px solid red;"
            }
            else{
                pass.style.cssText = "border: 1px solid green;"
                retype_pass.style.cssText = "border: 1px solid green;"
            }
        })
    </script>
</body>
</html>