{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'snippets/link.html' %}
    <link rel="stylesheet" href="{% static 'css/personal_page.css' %}">
</head>
<body>
    {% include './snippets/header.html' with message=message%}
    {% if action == 'edit_info' %}
        {% include './snippets/edit_info.html' %}
    {% endif %}
    {% if action == 'create_post' %}
        {% include './snippets/create_post.html' %}
    {% endif %}
    {% if action == 'edit_profile' %}
        {% include './snippets/edit_profile.html' %}
    {% endif %}
    <div class="row mx-2" style="height: 48vh" >
        <div class="col-9">
            <div class="row py-3 border-bottom ">
                <div class="col-3 d-flex justify-content-end">
                    <img class="fluid-img" src="{% static 'img/avatar.png' %}" alt="" width="50%">
                </div>
                <div class="col-6">
                    <p class="h2">{{ request.session.name }}</p>
                    <p class="">{{ request.session.email }}</p>
                    <p class>{{ request.session.address }}</p>
                </div>
                <div class="col-3">
                    <div class="border rounded-pill p-2 text-center mb-1 shadow-sm">
                        <a href="{{ request.session.edit_info }}" id="btn_edit_info" class="ml-2 text-decoration-none text-reset" >chỉnh sửa thông tin</a>
                    </div>
                    <div class="border rounded-pill p-2 text-center mb-1 shadow-sm">
                        <a href="{{ request.session.edit_profile }}" id="btn_edit_profile" class="ml-2 text-decoration-none text-reset">chỉnh sửa trang cá nhân</a>
                    </div>
                    <div class="border rounded-pill p-2 text-center mb-1 shadow-sm">
                        <a href="{{ request.session.create_post }}" id="btn_create_post" class="ml-2 text-decoration-none text-reset">tạo bài viết</a>
                    </div>
                </div>
            </div>
            {% include 'snippets/message.html' %}
            {% include 'snippets/manage_post.html' %}
            
        </div>
        {% include './snippets/right_side.html' with calendars=calendars%}
    </div>
    {% include "./snippets/footer.html" %}
    <script src="{% static 'js/personal.js' %}"></script>
</body>
</html>