<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "snippets/link.html" %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>
<body>
    {% include 'snippets/header.html' %}

    <div class="main_signup w-50 mx-auto border rounded p-4 mt-4">
        <form action="signup/" method="post">
            <div class="row">
                <div class="form-group col-6">
                    <label class="form-label">họ và tên</label>
                    <input class="form-control" name="name" required>
                </div>
                <div class="form-group col-3">
                    <label class="form-label">ngày sinh</label>
                    <input class="form-control" name="age" required>
                </div>
                
            </div>
            <div class="row">
                <div class="form-group col-7">
                    <label class="form-label">số điện thoại</label>
                    <input class="form-control" name="num_phone" required>
                </div>
                <div class="form-group col-4">
                    <label class="form-label">giới tính</label>
                    <select name="gender" class="form-select">
                        <option value="True">Nam</option>
                        <option value="False">Nữ</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group w-25">
                <label class="form-label">loai nguoi dung</label>
                <select name="groupuser" id="groupuser" class="form-select">
                    <option value="KH">người thuê trọ</option>
                    <option value="CT">chủ trọ</option>
                </select>
            </div>
            <hr>
            <div class="form-group">
                <div id="branch">
                    <div class="py-2">
                        <div id="first_branch" class="text-center mb-2">
                            địa chỉ chính
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label class="form-label">tỉnh/thành phố</label>
                                <input name="city" class="form-control" required>
                            </div>
                            <div class="col-4">
                                <label class="form-label">quận/huyện</label>
                                <input name="district" class="form-control" required>
                            </div>
                            <div class="col-4">
                                <label class="form-label">phường/xã/thị trấn</label>
                                <input name="ward" class="form-control" required>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">số nhà đường</label>
                            <input name="street" class="form-control" required>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="text-center d-flex justify-content-center mt-3">
                <input class="text-reset border btn w-25" id="add_branch" value="thêm địa chỉ" disabled></input>
                <input type="number" name="num_branch" hidden id="num_branch" value=0>
            </div>
            <hr>
            <div class="form-group">
                <label class="form-label">email</label>
                <input class="form-control" name="email" required>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label class="form-label">mật khẩu</label>
                    <input class="form-control" name="password" type="password" required>
                </div>
                <div class="col-6">
                    <label class="form-label">nhập lại mật khẩu</label>
                    <input class="form-control" type="password" required>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input class="form-control mt-4 w-25" type="submit" value="đăng kí">
            </div>
        </form>
    </div>

    <script src="{% static 'signup.js' %}"></script>
    {% include 'snippets/footer.html' %}
</body>
</html>