body{
    position: relative;
}
div #btn_edit_info{
    position: relative;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
}
.edit_info, .edit_profile, .create_post{
    position: absolute;
    height: 330px;
    width: 100%;
}
#post_content{
    padding: 0px;
    height: 100px;
}
.edit_info form, .create_post form{
    position: absolute;
    top: 0px;
    left: 25%;
    z-index: 2;
    background-color: white;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #d5b4e2,
            0 0 0.8rem #eee2f3,
            0 0 2.8rem #ffffff,
            inset 0 0 1.3rem #ffffff;
    
}
        
.background{
    z-index: 1;
    position: absolute;
    top: -60px;
    height: 280%;
    background-color: #d5b4e29c;
    filter: blur(2px);
}