<div class="create_post ">
    <div class="background w-100"></div>
    <form action="update_post/" enctype="multipart/form-data" method='post' class="border p-3 rounded w-50 mx-auto">
        {% csrf_token %}
        <div class="form-outline my-2">
            <label class="form-label">nhập tiêu đề</label>
            <input class="form-control" name="post_title" required>
        </div>
        <div class="form-group my-2">
            <label class="form-label">nhập nội dung</label>
            <input class="form-control" name="post_content" rows="3" type="textarea" required>
        </div>
        <div class="row">
            <div class="form-group my-2 col-6">
                <label class="form-label">giá tiền</label>
                <input class="form-control" name="post_cost" rows="3" type="number" required>
            </div>
            <div class="form-group my-3 col-6">
                <label class="from-lable">chèn ảnh</label>
                <input class="form-control" name='post_img' type="file">
            </div>
        </div>
        <div class="my-4 row">
            <div class="col-1" style="padding: 0;">
                {% for id in ids %}
                    <div style="display: block; height: 25px">
                        <input class="form-check-input" type="radio" value="{{ id.get_id_add.get_id}}" name="post_id_add" style="float: right;" required>
                    </div>
                {% endfor %}
            </div>
            <div class="col-6">
                {% for add in adds %}
                    <div style="display: block;">
                        <label class="form-check-label" >{{ add}}</label>
                    </div>
                {% endfor %}
                </div>
        </div>
        <div class="row mt-2">
            <div class="text-center col-6">
                <input type="submit" class="btn btn-primary btn-block mb-4" value="cập nhật thông tin"></input>
            </div>
            <div class="text-center col-6">
                <a href="cancel/" class="btn btn-primary btn-block mb-4 btn_cancel_create">hủy bỏ</a>
            </div>
        </div>
    </form>
</div>