<div class="create_post ">
    <div class="background w-100"></div>
    <form action="update_post/" class="border p-3 rounded w-50 mx-auto">
        {% csrf_token %}
        <div class="form-outline my-2">
            <label class="form-label">nhập tiêu đề</label>
            <input class="form-control" name="post_title">
        </div>
        <div class="form-group my-2">
            <label class="form-label">nhập nội dung</label>
            <input class="form-control" name="post_content" rows="3" type="textarea">
        </div>
        <div class="form-group my-2">
            <label class="form-label">giá tiền</label>
            <input class="form-control" name="post_cost" rows="3" type="number">
        </div>
        <div class="form-group my-2">
            <label class="from-lable">chèn ảnh</label>
            <input class="form-control" name='post_img' type="file">
        </div>
        <div class="">
            {% for i in context %}
                <div class="form-group">
                    <input class="form-control" type="checkbox">
                    <label class="form-label">chi nhánh</label>
                    <input type="text" name="id_add" hidden>
                </div>
            {% endfor %}
        </div>
        <div class="row mt-2">
            <div class="text-center col-6">
                <input type="submit" class="btn btn-primary btn-block mb-4" value="cập nhật thông tin"></input>
            </div>
            <div class="text-center col-6">
                <a href="cancel/" class="btn btn-primary btn-block mb-4 btn_cancel_create">hủy bỏ</a>
            </div>
        </div>
    </form>
</div>