<div class="edit_profile" hidden>
    <div class="background w-100"></div>
    <form action="">

        <div class="row mt-2">
            <div class="text-center col-6">
                <input type="submit" class="btn btn-primary btn-block mb-4" value="cập nhật thông tin"></input>
                <div hidden>{{ account }}</div>
            </div>
            <div class="text-center col-6">
                <input class="btn btn-primary btn-block mb-4" id="cancel_info" value="hủy bò"></input>
                <div hidden>{{ account }}</div>
            </div>
        </div>
    </form>
</div>