<footer class="text-center text-black" style="background-color: #f7f7f7">
  <div class="">
    <section class="mt-5">
      <div class="row text-center d-flex justify-content-center pt-5">
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-black">About us</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-black">Products</a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-black">Awards</a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-black">Help</a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-black">Contact</a>
          </h6>
        </div>
      </div>
    </section>
    <hr />
    <section class="text-center mb-5">
      <a href="" class="text-black me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-github"></i>
      </a>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-black" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
