{% load static %}
<div class="container">
    <hr>
    <div class="row mb-5 mt-5">
        <div class="col-md-4">
            <a href="#">
                <img src="{% static 'img/logo.svg' %}" width="25%">
            </a>
        </div>
        <div class="col-md-4 mt-2 d-flex justify-content-center">
            <a href="#" class="text-reset text-decoration-none px-2">điều khoản</a>
            <a href="#" class="text-reset text-decoration-none">chính sách</a>
        </div>
        <div class="col-md-4 d-flex justify-content-end mt-2">
            <a href="#" class="h3 fa-brands fa-facebook px-2"></a>
            <a href="#" class="h3 fa-brands fa-instagram px-2"></a>
            <a href="#" class="h3 fa-solid fa-envelope px-2"></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col ">
          <div class="copyright">
            <p><small class="d-flex justify-content-center">Copyright 2019. All Rights Reserved.</small></p>
          </div>
        </div>
      </div>
</div>