{% load static %}
<div class="container">
    <hr>
    <div class="row mb-3 mt-3">
        <div class="col-md-4">
            <a href="#">
                <img src="{% static 'img/logo.svg' %}" width="25%" class="align-self-center">
            </a>
        </div>
        <div class="col-md-4 mt-2 d-flex justify-content-center">
            <a href="#" class="text-reset text-decoration-none px-2 align-self-center">điều khoản</a>
            <a href="#" class="text-reset text-decoration-none align-self-center">chính sách</a>
        </div>
        <div class="col-md-4 d-flex justify-content-end mt-2 align-self-center">
            <a href="#" class="h3 fa-brands fa-facebook px-2"></a>
            <a href="#" class="h3 fa-brands fa-instagram px-2"></a>
            <a href="#" class="h3 fa-solid fa-envelope px-2"></a>
        </div>
    </div>
    <hr>
</div>