{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'css/header.css'%}"> {% endcomment %}
<div class="row head mx-2 border-bottom will_hidden" >
    <div class="col-3" style="height: 55px">
        <img src="{% static 'img/logo.svg' %}" width="25%">
    </div>
    <div class="trapezium col-6" style="height: 55px">
        <div class="py-2 d-flex justify-content-around menu-icon">
            <a href="#" class="h3 fa-solid fa-house text-white "></a>
            <a href="#" class="h3 fa-solid fa-message text-white "></a>
            <a href="#" class="h3 fa-solid fa-bell text-white active"></a>
        </div>
    </div>
    <div class=" col-3 py-2 mb-2">
        <form action="">
            <div class="form-group row">
                <input type="text" class="form-control col-1" style="width: 180px"/>
                <input class="form-control col-1 text-white bg-dark rounded border h-50 px-auto" value="tìm kiếm" style="width: 100px; margin-left: 5px">
            </div>
        </form>
    </div>
</div>