{% load static %}
<div class="col-3 pt-2">
    <div class="border rounded-pill">
        <img src="{% static 'img/avatar.png'%}" alt="avatar" width="15%">
        <a class="text-reset text-decoration-none" href="#" style="margin-left: 15px;">{{ name }}</a>
    </div>
    <hr>

    <div class="border rounded-pill p-2 text-center mb-2">
        <a href="#" class="ml-2 text-decoration-none text-reset">Cai dat</a>
    </div>

    <div class="border rounded-pill p-2 text-center mb-2">
        <a href="#" class="ml-2 text-decoration-none text-reset">Chinh sach</a>
    </div>

    <div class="border rounded-pill p-2 text-center mb-2">
        <a href="#" class="ml-2 text-decoration-none text-reset">Chinh sach</a>
    </div>

    <div class="border rounded-pill p-2 text-center mb-2">
        <a href="logout/" class="ml-2 text-decoration-none text-danger">Dang xuat</a>
    </div>
    
</div>