<div class="border">
    <div class="post-des">
        <div class="post-title">

        </div>
        <div class="post-content">

        </div>
    </div>
    <div class="post-img">
        {% comment %} {% for  in  %}
            <img src="" alt="">
        {% endfor %} {% endcomment %}
    <div class="post-interact">
        <div class="row">
            <a class="like-btn" href="">

            </a>
            <a class="comment" href="">

            </a>
            <a class="book" href="">

            </a>
        </div>
    </div>
    </div>
</div>