{% load static %}
<div class="col-3 pt-2" style="position: relative; height: 350px">
    <div class="right_side">
        <div class="border rounded-pill p-2 text-center ">
          Hôm nay <span id="time"></span>
        </div>
        <hr>
        <div class="row">
            <div class="col-5">
                <div class="timeline">
                    <div class="container_right_side right">
                        <div class="content mb-2">
                            7:00 - 9:00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 border mb-2 rounded schedule-message">
                <span>
                
                </span>
            </div>
        </div>
    </div>
</div>

<script src={% static 'js/right_side.js' %}></script>