{% load static %}
<div class="col-3 pt-2" style="position: relative;">
    <div class="right_side">
        <div class="border rounded-pill p-2 text-center ">
          Hôm nay <span id="time"></span>
        </div>
        <hr>
        <div class="row">
            <div class="">
                <div class="timeline">
                    {% comment %} {% if  request.session.id_gr  == 'CT' %} {% endcomment %}
                        {% for calendar in calendars %}
                            <div class="row container_right_side right">
                                <div class="col-6 content ">
                                    {{ calendar.appointment_date }}
                                </div>
                                <div class="col-6 schedule-message border rounded">
                                    {{ calendar.id_post.get_id_add.get_address }}
                                </div>
                            </div>
                        {% endfor %}
                    {% comment %} {% endif %} {% endcomment %}
                    {% comment %} {% if request.session.id_gr == 'KH' %}
                        {% for calendar in calendars %}
                            <div class="row container_right_side right">
                                <div class="col-6 content ">
                                    7:00 - 9:00
                                </div>
                                <div class="col-6 schedule-message border rounded">
                                    thien
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %} {% endcomment %}
                </div>
            </div>
            
        </div>
    </div>
</div>

<script src={% static 'js/right_side.js' %}></script>