{% load static %}
<link rel="stylesheet" href="{% static 'css/right_side.css'%}">
<div class="col-3 border pt-2">
    <div class="border rounded-pill p-2 text-center ">
      22/10/2022
    </div>
    <hr>
    <div class="timeline">
      <div class="container_right_side right">
        <div class="content mb-2">
          
        </div>
      </div>
      <div class="container_right_side right">
        <div class="content mb-2">
          
        </div>
      </div>
      <div class="container_right_side right">
        <div class="content mb-2">
          
        </div>
      </div>
      <div class="container_right_side right">
        <div class="content mb-2">
          
        </div>
      </div>
      <div class="container_right_side right">
        <div class="content mb-2">
          
        </div>
      </div>
      <div class="container_right_side right">
        <div class="content mb-2">
          
        </div>
      </div>
    </div>
</div>